
* {
  box-sizing: border-box; 
}

body {
    max-width: auto;
    max-height: auto; 
    box-shadow: 0 4px 8px rgba(166, 169, 243, 0.1);
    border-radius:  8px;
    font-family:Arial, Helvetica, sans-serif ;
}



.podcast_Container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 10px;
  padding: 15px;
  background-color: rgb(9, 106, 75);
  width: 100%;
  border-radius: 8px;
}

.podcastheader {
  width: 100%;
  height: 40px;
  background-color: white;
  margin-left: 20px;

}


.cardContainer {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(154, 157, 233, 0.1);
  width: auto;
  height: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow-y: auto;
 
}

.cardContainer:hover {
  transform: scale(1.05);
}

.podcastImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}



.modalInfo{
   background: white;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: auto;
  height: auto;
  
}

.imageContainer {
  overflow: hidden;
  object-fit: scale-down;
  width: 250px;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  display: inline-block;
}




.modal {
                 
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;               
  justify-content: center;     
  align-items: center;         
  z-index: 1000;      
  
}

.modal-content {
    background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  
}

#close-modal-btn {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: red;
 
  width: 20px;
  height: 20px;
}

.modalImageContainer{
   width: auto;
  max-height: 250px;
  display: block;
  margin-right: 100px; 
  
}


.modalImage {
  width: auto;
  height: 250px;
  object-fit: cover;
  
}

.modalPodcastInfo {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

