
* {
  box-sizing: border-box; 
}

.podcastContainer{
  background: white;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 250px;
  height: 300px;

  
}


.imageContainer {
  overflow: hidden;
  object-fit: scale-down;
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  display: inline-block;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 500px; height: 350px;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
}

.close-modal-btn {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.modalImage {
  overflow: hidden;
  object-fit: scale-down;
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  display: inline-block;
}